addict==2.2.1
albumentations==0.3.3
apex==0.1
argh==0.26.2
asn1crypto==0.24.0
backcall==0.1.0
beautifulsoup4==4.7.1
catalyst==19.10
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==7.0
cnn-finetune==0.6.0
conda-build==3.17.8
conda==4.6.14
configparser==4.0.2
crc32c==1.7
cryptography==2.6.1
cycler==0.10.0
cython==0.29.13
decorator==4.4.0
docker-pycreds==0.4.0
filelock==3.0.10
gitdb2==2.0.6
gitpython==3.0.3
glob2==0.6
gql==0.1.0
graphql-core==2.2.1
idna==2.8
imagecorruptions==1.0.0
imageio==2.5.0
imgaug==0.2.6
ipython-genutils==0.2.0
ipython==7.5.0
iterative-stratification==0.1.6
jedi==0.13.3
jinja2==2.10.1
joblib==0.14.0
kiwisolver==1.1.0
libarchive-c==2.8
lief==0.9.0
lz4==2.2.1
markupsafe==1.1.1
matplotlib==3.1.1
mkl-fft==1.0.12
mkl-random==1.0.2
mmcv==0.2.13
mmdet==1.0rc0+d88ad8f
munch==2.3.2
networkx==2.3
numpy==1.17.2
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python==4.1.1.26
pandas==0.25.1
parso==0.4.0
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
pillow==6.0.0
pip==19.1
pkginfo==1.5.0.1
plotly==4.1.1
pretrainedmodels==0.7.4
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.10.0
psutil==5.6.2
ptyprocess==0.6.0
pyarrow==0.14.1
pycocotools==2.0.0
pycosat==0.6.3
pycparser==2.19
pydicom==1.3.0
pygments==2.3.1
pyopenssl==19.0.0
pyparsing==2.4.2
pysocks==1.6.8
python-dateutil==2.8.0
pytz==2019.1
pywavelets==1.0.3
pyyaml==5.1
requests==2.21.0
retrying==1.3.3
ruamel-yaml==0.15.46
rx==1.6.1
safitty==1.2.5
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
segmentation-models-pytorch==0.0.3
sentry-sdk==0.12.3
setuptools==41.0.1
shortuuid==0.5.0
simpleitk==1.2.2
six==1.12.0
smmap2==2.0.5
soupsieve==1.8
subprocess32==3.5.4
tensorboardx==1.8
terminaltables==3.1.0
timm==0.1.14
torch==1.1.0
torchvision==0.4.0
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.24.2
wandb==0.8.12
watchdog==0.9.0
wcwidth==0.1.7
wheel==0.33.1